<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pandu.wisatatarutung">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuActivity"/>
        <activity android:name=".MenuWisata" />
        <activity android:name=".MenuHotel" />
        <activity android:name=".MenuKuliner" />
        <activity android:name=".WisataAirPanas" />
        <activity android:name=".WisataSodaParbubu" />
        <activity android:name=".WisataSalibKasih" />
        <activity android:name=".WisataSopoPartungkoan" />
        <activity android:name=".KulinerKacangSihobuk" />
        <activity android:name=".KulinerOmbusOmbus" />
        <activity android:name=".KulinerKueTalam" />
        <activity android:name=".HotelBali" />
        <activity android:name=".HotelHineni" />
        <activity android:name=".HotelSafari" />
        <activity android:name=".MenuTentang" />
        <activity android:name=".KulinerCendol" />
        <activity android:name=".HotelPalapa" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>